<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
    <sitecore>
        <pipelines>
            <initialize>
                <processor type="Sitecore.Foundation.SitecoreExtensions.Pipelines.CustomThreadPool, Sitecore.Foundation.SitecoreExtensions" />
            </initialize>
        </pipelines>
        <settings>
            <!-- See https://gist.github.com/JonCole/e65411214030f0d823cb for more info -->
            <!-- Default value is 4 - adjust per your needs -->
            <setting name="CustomThreadPool.WorkerThreads" value="2000" />
            <!-- This configuration element is a per-core setting - default value is 4 -->
            <setting name="CustomThreadPool.IocpThreads" value="4" />
        </settings>
    </sitecore>
</configuration>